/* colour scheme variables */
:root {
    --background: cornflowerblue;
    --overlay: lightskyblue;
    --title: black;
    --text: midnightblue;
    --accent: indigo;
}

/* fonts */
h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 26px;
    color: var(--title);
    font-weight: 400;
    font-variant: small-caps;
}

div.info>div>h1:first-child{
    margin-top: -15%;
    padding: 0 5px;
    max-width: 50% ;
    align-items: center;
    background-color: var(--overlay);
}

/* Main layout*/
body {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;

    background-color: var(--background);
}

body>* {
    margin: 10px;
    padding: 10px;
    background: var(--overlay);
}

/* Game info */
div.info {
    min-width: 150px;
    width: 200px;

    flex-grow: 1;
    flex-shrink: 1;

    border: 5px solid var(--accent);
}

div.info>div {
    border: 5px groove var(--accent);
    border-radius: 15px;

    padding: 5px 10px 5px 5px;

    margin-top: 40px;
}

div.info>div>div {
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Game grid */
div.grid {
    min-height: 400px;
    max-height: 90vh;
    min-width: 400px;
    max-width: 90vh;

    flex-grow: 3;
    flex-shrink: 3;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);

    user-select: none;
}

div.grid::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 80%;
}

div.grid div.header {
    grid-row: 1;
    grid-column: 2 / span 6;
    text-align: center;
}

div.grid div.footer {
    grid-row: 10;
    grid-column: span 8;
    text-align: center;
    position: relative;
    top: 80%;
}

.game-over {
    position: absolute;
    top: 40%;
    left: 40%;

    height: 20%;
    width: 20%;

    z-index: 1;

    border: 5px solid var(--accent);
}

/*
gameOver.style.position = `absolute`;
gameOver.style.top = `40%`;
gameOver.style.left = `40%`;
gameOver.style.height = `20%`;
gameOver.style.width = `20%`;
gameOver.style.zIndex = `1`;
*/

/*
Game grid and shape styling
*/

/* General styling */
div.grid div:empty {
    height: 80%;
    width: 80%;

    /* Drop transition animation */
    transition: background-color 1s cubic-bezier(0,2.25,0,0), height .8s ease, margin-top .1s ease-out;
}

div.grid div.red,
div.grid div.yellow,
div.grid div.orange,
div.grid div.purple,
div.grid div.green,
div.grid div.blue {
    /* shading */
    -webkit-box-shadow: 10px 10px 15px 3px rgba(0,0,0,0.35), inset 5px 5px 10px 5px rgba(255,255,255,0.45);
    box-shadow: 10px 10px 15px 3px rgba(0,0,0,0.35), inset 5px 5px 10px 5px rgba(255,255,255,0.45);
}

/* red bean */
div.grid div.red {
    background-color: firebrick;
    border-radius: 85% 15% 85% 15% / 85% 15% 85% 15%;
}

/* yellow triangle */
div.grid div.yellow {
    background-color: gold;
    border-radius: 50% 50% 10% 10% / 90% 90% 10% 10%;
}

/* orange circle */
div.grid div.orange {
    background-color: darkorange;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

/* purple square */
div.grid div.purple {
    background-color: purple;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
}

/* green drop */
div.grid div.green {
    background-color: green;
    border-radius: 10% 90% 50% 50% / 10% 50% 50% 90% ;
}

/* blue diamond*/
div.grid div.blue {
    background-color: darkblue;
    border-radius: 100% 50% 100% 50% / 50% 100% 50% 100%;
}

div.grid div.blank {
    box-shadow: unset;
    -webkit-box-shadow: unset;

    height: 0;
    margin-top: 45px;

    /* Explosion */
    visibility: hidden;
    background-color: white;
}

/*
Animations
*/

@keyframes no-match {
    0%      {background-color: black}
    100%     {background-color: red}
}