div.grid {
    /*
    50px * 50px squares
    8 by 8
    */
    height: 400px;
    width: 400px;

    /*
    display divs next to eachother
     */
    display: flex;
    flex-wrap: wrap;
}

div.grid div {
    height: 30px;
    width: 30px;
    margin: 10px;
}